<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
</head>
<body>

	<div class="jumbotron">
		<div class="container">
		  <h1>Welcome to I Just Did!</h1>
		  <p>Here you will discover how awesome are your neighbors!</p>
		  <a class="btn btn-primary btn-lg" id="get-started" role="button">Get started</a>
		 </div>
	</div>

	<div class="container-mio">
	   <div class="row">
	      <div class="col-lg-9">
					<div id="map"></div>
					
		  			<!--<img src="http://periodicoaspectos.com/wp-content/uploads/2015/11/ojby5fx5vgxsfhihqq1o.png" style="width:90%; height:85%">-->
	      </div>

        <div class="col-lg-3 hidden">
        	<ul display: 'none' class="nav nav-pills nav-stacked">
        		<li><a class="btn btn-warning btn-lg" id="create-achievement" role="button">Do it !</a></li>
					  <li role="presentation" class="active" id="categories"><a href="#">Categories</a></li>
					  <li class='categories-menu hidden'>
					  	<div class="checkbox">
    						<label><input type="checkbox" id="Family-checkbox" data-hook="Family" checked> <p> Family </p> </label>
      				</div>
      				<div class="checkbox">	
      					<label><input type="checkbox" id="Technology-checkbox" data-hook="Technology" checked> <p> Technology </p> </label>
      				</div>
      				<div class="checkbox">	
      					<label><input type="checkbox" id="Business-checkbox" data-hook="Business" checked> <p> Business </p> </label>
      				</div>
      				<div class="checkbox">	
      					<label><input type="checkbox" id="Art-checkbox" data-hook="Art" checked> <p> Art </p> </label>
      				</div>
      				<div class="checkbox">	
      					<label><input type="checkbox" id="Entrepreneurship-checkbox" data-hook="Entrepreneurship" checked> <p> Entrepreneurship </p> </label>
      				</div>
      				<div class="checkbox">	
      					<label><input type="checkbox" id="Studies-checkbox" data-hook="Studies" checked> <p> Studies </p> </label>
      				</div>
      				<div class="checkbox">	
      					<label><input type="checkbox" id="Coding-checkbox" data-hook="Coding" checked> <p> Coding </p> </label>
      				</div>
      				<div class="checkbox">	
      					<label><input type="checkbox" id="Sports-checkbox" data-hook="Sports" checked> <p> Sports </p> </label>
    					</div>
					  </li>
					  <li role="presentation"><a href="#">Distance</a></li>
					  <li role="presentation"><a href="#">Messages</a></li>
					</ul>
        </div>
    </div>
	</div>

</body>
</html>