<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="geolocation.css">
</head>
<body>

	<h2>Hi David! Here starts the adventure!</h2>

	<p id='position'></p>
	<div id="map" style="width:100%; height:100%"></div>

</body>
</html>