<% if current_user %>
	<div class="container" id="user-information">
		<h2>Hi <%= current_user.name %>!</h2>
		<table class=   "table table-user-information">
			<h3>User information:</h3>
      <tbody>
        <tr>
          <td>Name:</td>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <td>Email:</td>
          <td> <%= @user.email %> </td>
        </tr>
     </tbody>
		</table> 
	</div>

<% else %>
	<div class="container" id="user-information">
		<h2>Sorry dude! You should sign in to see this information</h2>
		<%= link_to "Log in", new_user_session_path, class: "btn btn-primary btn-lg" %><br>
	</div>
<% end %>
