/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html{
	height: 100%
}

body {
	height: 100%;
}

.jumbotron {
	min-height: 800px;
	background: url('http://7-themes.com/data_images/out/42/6911784-orange-abstract.jpg') no-repeat center center;
}

#map {
	width: 100%;
	height: 730px
}

.main-container {
	width: 93%;
	margin: auto;
	font-size: 20px;
}

.hidden {
	display: none;
}

.pac-container {
  z-index: 1051 !important;
}

#marker-bodyContent, #welcome-bodyConten  {
	font-size: 15px;
}

#git-logo{
	float: right;
}

#background-sign-in {
	background: url('https://www.muralesyvinilos.com/murales/950188_Escalador_de_Rocas.jpg');
	background-size: cover;
	height: 750px;
	font-size: 20px;
}

#background {
	background: url('http://4.bp.blogspot.com/-SuwXXXydPXE/VLJ_AGpPTtI/AAAAAAAAIrA/3oMz5dWFw9U/s1290/_DSC3568.jpg');
	background-size: cover;
	height: 750px;
	font-size: 20px;
}

#user-information, #achievement-information {

	background-color: #f8f8f8;
  border-color: #e7e7e7;
  font-size: 16px;
}

.categories-menu{
	background-color: #f8f8f8;
  border-color: #e7e7e7;
}

footer {
	margin-top: 20px;
	text-align: center;
	font-size: 17px;
	background-color: #5bc0de
}