html, body {
	height: 100%
}


#map {
	width: 100%;
	height: 750px
}

.main-container {
	width: 93%;
	margin: auto;
}

.hidden {
	display: none;
}

.jumbotron {
	min-height: 800px;
	background: url('http://7-themes.com/data_images/out/42/6911784-orange-abstract.jpg') no-repeat center center;
}

.pac-container {
  z-index: 1051 !important;
}

footer {
	margin-top: 40px;
	text-align: center;
	font-size: 17px;
}